body{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: "Galano Grotesque";
	src:url('font/GalanoGrotesque-Regular.eot');
	src:url('font/GalanoGrotesque-Regular.eot') format('embedded-opentype'),
		url('font/GalanoGrotesque-Regular.woff2') format('woff2'),
		url('font/GalanoGrotesque-Regular.woff') format('woff'),
		url('font/GalanoGrotesque-Regular.tff') format('truetype'),
		url('font/GalanoGrotesque-Regular.svg#GalanoGrotesque-Regular') format('svg');
		font-weight: 400;
}

body{
	font-family: Galano Grotesque;
	
}